<script type="text/ng-template" id="activityHistoryModal.html">
<div class="modal-header" id="modalHeader">
	<h3 class="modal-title">Activity History</h3>
</div>
<div class="modal-body" ng-init="init()">
	<form class="form-horizontal form-group">
		<!--label class="control-label">Time Unit: </label>
		<select ng-model="selectedTimeUnit" ng-change="showPlot()">
			<option ng-repeat="option in timeUnitOptions">{{ option }}</option>
		</select>
		<br /-->
		<div>Note: The format of the duration is HH:MM:SS.m.</div>
		<div ng-hide="hasOnlyOneValue()" style="margin-top: 20px; margin-bottom: 10px;">
    		<input ng-model="slider.value" type="text" id="rangeSlider" slider options="optionsSlider" />
  		</div>
  	</form>
	<nvd3 options="optionsChart" data="historicActivityPlotData"></nvd3>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="closeModal()">Close</button>
</div>
</script>