<script type="text/ng-template" id="processDiagramSettingsModal.html">
<div class="modal-header" id="modalHeader">
	<h3 class="modal-title">Process Diagram</h3>
</div>
<div class="modal-body">
	<tabset>
		<tab heading="Highlight Tasks" active="true">
			<form class="form-horizontal form-group">
				<label class="control-label">Task Type: </label>
				<select ng-model="$parent.selectedTaskType">
					<option>all</option>
					<option ng-repeat="option in taskTypes" value="{{ option }}">{{ option | split:':':1 }}</option>
				</select>
			</form>
			<form class="form-horizontal form-group">
				<label class="control-label">Duration limit: </label>
				<input ng-model="$parent.selectDurationLimit" type="checkbox">
				<input ng-model="$parent.durationLimit" type="number" min="1" ng-show="selectDurationLimit" width=20px>
				<select ng-model="$parent.selectedTimeUnit" ng-show="selectDurationLimit">
					<option ng-repeat="option in timeUnitOptions">{{ option }}</option>
				</select>
			</form>
			<form class="form-horizontal form-group">
				<label class="control-label">Show only bad information: </label>
				<input ng-model="$parent.showOnlyBad" type="checkbox">
			</form>
		</tab>
	</tabset>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="highlightUsertasks()">Apply Settings</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>