<script type="text/ng-template" id="processDiagramSettingsModal.html">
<div class="modal-header" id="modalHeader">
	<h3 class="modal-title">Process Diagram</h3>
</div>
<div class="modal-body">
	<tabset>
		<tab heading="Highlight" active="$parent.highlightTab">
		<div style="margin-top: 5px; margin-bottom: 10px;">Highlight specific process elements.</div>
			<form class="form-horizontal form-group">
				<label class="control-label">Element Type: </label>
				<select ng-model="$parent.selectedType">
					<option>all</option>
					<option>all tasks</option>
					<option>all gateways</option>
					<option>all events</option>
					<option ng-repeat="option in types" value="{{ option }}">{{ option | split:':':1 }}</option>
				</select>
			</form>
		</tab>
		<tab heading="Timing" active="$parent.timingTab">
			<div><a class="pull-right glyphicon glyphicon-question-sign" ng-click="info=!info"></a></div>
			<div ng-show="info" style="margin-top: 5px;">
				<ul>
					<li><strong>Duration Limit</strong><br>
                    	The duration limit can be set in seconds, minutes or hours.
                   	</li>
					<li><strong>Number of finished instances</strong><br>
                    	For each activity, the number of finished instances which took less time than the duration limit is displayed in a green badge and the number of slower ones is displayed in a red one. 
					</li>
					<li><strong>Highlight color of activites</strong><br>
                    	If more of the finished activity instances have a duration below the specified duration limit, the activity itself is highlighted green; elsewise the activity is colored red. If there are no finished instances for an activity yet, the activity is not colored at all.
					</li>
				</ul>
				<hr>
			</div>
			<div style="margin-top: 5px; margin-bottom: 10px;">Highlight activities which, on average, took longer than a defined duration limit.</div>
			<form class="form-horizontal form-group">
				<input ng-model="$parent.durationLimit" type="number" min="1" width=20px>
				<select ng-model="$parent.selectedTimeUnit">
					<option ng-repeat="option in timeUnitOptions">{{ option }}</option>
				</select>
			</form>
		</tab>
	</tabset>
</div>
<div class="modal-footer">
	<button ng-show="isHighlightTab()" class="btn btn-primary" ng-click="highlightElements()">Highlight elements</button>
	<button ng-show="isTimingTab()" class="btn btn-primary" ng-click="applyDurationLimit()">Apply duration limit</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>