<script type="text/ng-template" id="variableStatusModal.html">
<div class="modal-header" id="modalHeader" style="display: inline-flex;">
	<h3 class="modal-title">Business Data Statistics</h3>
	<a class="glyphicon glyphicon-question-sign" style="padding: 10px;" ng-click="info=!info"></a>
</div>
<div class="modal-body">
	<div ng-show="info" style="margin-top: 5px;">
		<div>This plot helps you getting insights on the distribution of your process variables. By specifying the respective version of your process definition, the time period and the specific variable you can get an overview on the characteristics of finished process instances. In case of a typical invoice approval process, for instance, you could easily find out how many invoices got approved or which creditor occurred the most often.</div>
		<hr>
	</div>
	<div id="versionSettings">
		<table>
			<tr>
				<td class="text">
					<label class="control-label">Process Version:</label>
				</td>
				<td class="value">
					<select ng-model="version" required class="width-300">
						<option value="current">current version ({{ currentVersion }})</option>
						<option value="all">all versions</option>
					</select>
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyVersionSelection()">Apply</button>
				</td>
			</tr>
		</table>
	</div>
	<div id="timePeriodSettings" ng-show="showTimePeriodSettings">
		<hr>
		<table>
			<tr>
				<td class="text">
					<label class="control-label">Time period: </label>
				</td>
				<td class="value">
					<form name="timePeriodSettings"><input date-range-picker class="form-control date-picker width-300" type="text" ng-model="timePeriod" options="timePeriodOptions" required style="width:200px; display: inline; margin-right: 10px;" ng-disabled="completeTimePeriod"/></form>
				</td>
				<td class="loading">
					<img class="loading-gif" ng-show="isLoadingVariables" src="../../../api/cockpit/plugin/statistics-plugin/static/app/styles/loading.gif">
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyTimePeriodSelection()">Apply</button>
				</td>
			</tr>
			<tr>
				<td class="text"></td>
				<td class="value">
					<label class="normal-font-weight"><input class="checkbox-inline" type="checkbox" ng-model="completeTimePeriod" ngChange="clickedCompleteTimePeriod()">all process instances</label>
				</td>
			</tr>
			<tr>
				<td class="text"></td>
				<td>
					<form>
    					<label class="normal-font-weight"><input class="radio" type="radio" name="startedOrFinished" ng-model="startedOrFinished" value="started">started in time period</label>
    					<label class="normal-font-weight"><input class="radio" type="radio" name="startedOrFinished" ng-model="startedOrFinished" value="finished">finished in time period</label>
  					</form>
				</td>
			</tr>
			<tr ng-show="showProcessInstancesCount">
				<td class="text"></td>
				<td class="value">
					<div ng-class="{'text-danger': processInstancesCount==0, 'text-success': processInstancesCount>0}">{{ processInstancesCount }} process instance(s) found</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="variableSettings" ng-show="showVariableSettings">
		<hr>
		<table>
			<tr ng-hide="variableOptionsAvailable">
				<td class="text"></td>
				<td class="value">
					<div class="text-danger">No variables found for selected process instances</div>
				</td>
			</tr>
			<tr ng-show="variableOptionsAvailable">
				<td class="text">
					<label class="control-label">Variable:</label>
				</td>
				<td class="value">
					<form name="variableSettings"><select ng-model="variable" ng-options="name as (name + ' [' + type + ']') for (name, type) in variableOptions" required class="width-300"/></form>
				</td>
				<td class="loading">
					<img class="loading-gif" ng-show="isLoadingVariables" src="../../../api/cockpit/plugin/statistics-plugin/static/app/styles/loading.gif">
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyVariableSelection()">Apply</button>
				</td>
			</tr>
			<tr ng-hide="isVariableSelected">
				<td class="text"></td>
				<td class="value">
					<div class="text-danger">Please select variable</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="variableStatus" ng-show="showVariableStatus">
		<hr>
		<div class="scrollable-container">
			<div id="barchart">
  				<svg></svg>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="closeModal()">Close</button>
</div>
</script>