<script type="text/ng-template" id="variableStatusModal.html">
<div class="modal-header" id="modalHeader" style="display: inline-flex;">
	<h3 class="modal-title">Business Data Statistics</h3>
	<a class="glyphicon glyphicon-question-sign" style="padding: 10px;" ng-click="info=!info"></a>
</div>
<div class="modal-body">
	<div ng-show="info" style="margin-top: 5px;">
		<div>This plot helps you getting insights on the distribution of your process variables. By specifying the respective version of your process definition, the time period and the specific variable you can get an overview on the characteristics of finished process instances. In case of a typical invoice approval process, for instance, you could easily find out how many invoices got approved or which creditor occurred the most often.</div>
		<hr>
	</div>
	<div id="versionSettings">
		<table>
			<tr>
				<td class="text">
					<label class="control-label">Process Version:</label>
				</td>
				<td class="value">
					<select ng-model="version" required>
						<option value="current">current version</option>
						<option value="all">all versions</option>
					</select>
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyVersionSelection()">Apply</button>
				</td>
			</tr>
		</table>
	</div>
	<div id="timePeriodSettings" ng-show="showTimePeriodSettings">
		<hr>
		<table>
			<tr>
				<td class="text">
					<label class="control-label">Time period: </label>
				</td>
				<td class="value">
					<form name="timePeriodSettings"><input date-range-picker class="form-control date-picker" type="text" ng-model="timePeriod" options="timePeriodOptions" required style="width:200px; display: inline; margin-right: 10px;" ng-disabled="completeTimePeriod"/></form>
				</td>
				<td class="loading">
					<img ng-show="isLoadingVariables" src="../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/loading.gif">
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyTimePeriodSelection()">Apply</button>
				</td>
			</tr>
			<tr>
				<td class="text"></td>
				<td class="value">
					<input class="checkbox-inline" type="checkbox" ng-model="completeTimePeriod" ngChange="clickedCompleteTimePeriod()" />
					<span>all process instances</span>
				</td>
			</tr>
			<tr ng-hide="variableOptionsAvailable">
				<td class="text"></td>
				<td class="value">
					<div class="text-danger">No process instances finished in specified time period</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="variableSettings" ng-show="showVariableSettings">
		<hr>
		<table>
			<tr>
				<td class="text">
					<label class="control-label">Variable:</label>
				</td>
				<td class="value">
					<form name="variableSettings"><select ng-model="variable" ng-options="name as (name + ' [' + type + ']') for (name, type) in variableOptions" required /></form>
				</td>
				<td class="loading">
					<img ng-show="isLoadingVariables" src="../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/loading.gif">
				</td>
				<td class="apply">
					<button class="btn btn-primary" ng-click="applyVariableSelection()">Apply</button>
				</td>
			</tr>
			<tr ng-hide="isVariableSelected">
				<td class="text"></td>
				<td class="value">
					<div class="text-danger">Please select variable</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="variableStatus" ng-show="showVariableStatus">
		<hr>
		<div class="scrollable-container">
			<div id="barchart">
  				<svg></svg>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="closeModal()">Close</button>
</div>
</script>