<div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/styles/pluginStyles.html'"></div>
<div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/templates/pluginSettingsModal.html'"></div>
<div ng-controller="dashboardController">
	<h1>Statistics & Analytics&nbsp;&nbsp;<small><a class="btn btn-link" ng-click="showPluginSettingsModal()">Settings...</a></small></h1>
	<tabset>
	 <tab ng-controller="processesChartController" select="handleTabClick('processes')">
	   <tab-heading ng-mouseover="showRefreshIcon=true" ng-mouseleave="showRefreshIcon=false">
	     <span >Processes&nbsp;</span><a class="btn btn-link" ng-show="showRefreshIcon" ng-click="applyDataToPlots()"><i class="glyphicon glyphicon-repeat"></i></a>
	   </tab-heading>
     <div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/views/processesTab.html'"></div>
	</tab>
	<!-- <tab ng-controller="casesChartCtrl" select="handleTabClick('cases')">
   <tab-heading ng-mouseover="showRefreshIcon=true" ng-mouseleave="showRefreshIcon=false">
     <span>Cases&nbsp;</span><a class="btn btn-link" ng-show="showRefreshIcon" ng-click="applyDataToPlots()"><i class="icon-repeat"></i></a>
   </tab-heading>
   <div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/views/casesTab.html'"></div>
  </tab> -->
  <tab heading="Timing" select="handleTabClick('startEnd')"
		ng-controller="timingCtrl">
		  <div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<div id="chart3">
						<nvd3 options="options" data="data"></nvd3>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<button class="btn btn-default" ng-click="openDeleteDeploymentDialog('lg')">Open me!</button>
					<start-end-control-element></start-end-control-element>
				</div>
      </div>
	</tab>
 	<!--tab heading="Durations" select="handleTabClick('durations')">
	 	<div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/views/durationsTab.html'"></div>
	</tab-->
	<tab heading="Feedback" ng-controller="feedbackCtrl">
	 <div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/views/feedbackTab.html'"></div>
	</tab>
	</tabset>
</div>


