<div ng-controller="dashboardController">
<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/styles/pluginStyles.html'"></div>
<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/templates/pluginSettingsModal.html'"></div>
	<h1>Statistics & Analytics&nbsp;&nbsp;<small><a class="btn btn-link" ng-click="showPluginSettingsModal()">Settings...</a></small></h1>
	<tabset>
	 <tab ng-controller="processesChartController" select="handleTabClick('processes')">
	   <tab-heading ng-mouseover="showRefreshIcon=true" ng-mouseleave="showRefreshIcon=false">
	     <span >Processes&nbsp;</span><a class="btn btn-link" ng-show="showRefreshIcon" ng-click="applyDataToPlots()"><i class="glyphicon glyphicon-repeat"></i></a>
	   </tab-heading>
     <div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/views/processesTab.html'"></div>
	</tab>
	<!-- <tab ng-controller="casesChartCtrl" select="handleTabClick('cases')">
   <tab-heading ng-mouseover="showRefreshIcon=true" ng-mouseleave="showRefreshIcon=false">
     <span>Cases&nbsp;</span><a class="btn btn-link" ng-show="showRefreshIcon" ng-click="applyDataToPlots()"><i class="icon-repeat"></i></a>
   </tab-heading>
   <div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/views/casesTab.html'"></div>
  </tab> -->
  <tab heading="Analytics" select="handleTabClick('startEnd')">
    <div class="row" ng-controller = "plotConfigController">
      <div class="col-xs-12 col-lg-7">
        <div id="timingChartDiv" ng-if = "chosenOptions.propertyToPlot=='startEndTime'||chosenOptions.propertyToPlot=='distribution'">
          <nvd3 options="options" data="data" api = "$parent.api"></nvd3>
        </div>
        <div id="regPlotDiv" ng-if="chosenOptions.propertyToPlot=='regression'">
          <sp-regression-plot data="data" options="options" parse-x = "parseX(x)" parse-y = "parseY(y)" legend = "false"></sp-regression-plot>
        </div>
      </div>
      <div class="col-xs-12 col-lg-5 well">
        <div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/partials/plotConfigDialog.html'"></div>
      </div>
    </div>
  </tab>
  <tab heading="Feedback" ng-controller="feedbackCtrl">
    <div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/views/feedbackTab.html'"></div>
  </tab>
</tabset>
</div>
<script src="../../../api/cockpit/plugin/statistics-plugin/static/app/lib/plugin-scripts.js"></script>

