<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/business-data-statistics/businessDataStatisticsModalStyles.html'"></ng-include>
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/business-data-statistics/businessDataStatisticsModalView.html'"></ng-include>


<div ng-controller="businessDataStatisticsProcessDefinitionMenuCtrl">
	<a class="btn btn-default btn-toolbar" type="button" ng-click="toggleBusinessDataStatisticsModal()" tooltip-placement="left" tooltip="Status of variables of ended process instances">
		<span class="glyphicon glyphicon-info-sign"></span>
	</a>
</div>