<style>
#circle {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
div.custom .panel-default>.panel-heading {
    background-color: #08C;
        color: white;
}

div.custom2 .panel-default>.panel-heading {
    background-color: white;
        color: white;
}
</style>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<tabset justified="true"> <tab heading="data">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<scatter-plot-control-menu></scatter-plot-control-menu>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div ng-show="selected.length">
					<div class="well">
						<div ng-repeat="item in selected">
							<div style="border: 2px solid black">
								<!-- 								ng-show also depends on item.wholeProcess since even if we dont give it a color it would move the "process" in the list -->
								<div
									id="circle"
									class="pull-left"
									ng-style="item.color"></div>
								<strong>{{item.process}}</strong> <i
									class="pull-right glyphicon glyphicon-ok"
									ng-show="item.wholeProcess"></i>
								<div
									ng-repeat="types in item.activityTypes"
									style="text-indent: 10px; font-style: italic;">
									{{types.activityType}} <a
										class="pull-right glyphicon glyphicon-remove"
										ng-click="removeFromList(item.process,types.activityType,undefined)"></a>
									<div
										ng-repeat="act in types.activities"
										style="text-indent: 20px;">
										<div
											id="circle"
											class="pull-left"
											ng-style="act.color"></div>
										{{act.activity}} <a
											class="pull-right glyphicon glyphicon-remove"
											ng-click="removeFromList(item.process,types.activityType,act.activity)"></a>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		</tab> <tab heading="time-window"> <tabset class="tabs-left"> <tab heading="date">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<h4>specify start date</h4>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value="">
					all
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value="startedBefore">
					started before
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value="startedAfter">
					started after
				</div>
				<div collapse="timeWindow.start==''">
					<div class="alert alert-info">{{timeWindow.startDate | date: 'longDate'}}</div>
					<datepicker
						show-weeks="true"
						class="well well-sm"
						ng-model="chosenOptions.timeWindow.startDate"></datepicker>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5">
				<h4>specify end date</h4>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value="">
					all
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value="finishedBefore">
					finished before
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value="finishedAfter">
					finished after
				</div>
				<div collapse="timeWindow.end==''">
					<div class="alert alert-info">{{timeWindow.endDate | date: 'longDate'}}</div>
					<datepicker
						show-weeks="true"
						class="well well-sm"
						ng-model="chosenOptions.timeWindow.endDate"></datepicker>
				</div>
			</div>
		</div>
		</tab> <tab heading="time">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<pre class="alert alert-info">From: {{mytime | date:'shortTime' }}</pre>
				<timepicker
					ng-model="mytime"
					ng-change="changed()"
					hour-step="hstep"
					minute-step="mstep"
					show-meridian="ismeridian"></timepicker>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5">
				<pre class="alert alert-info">To: {{mytime | date:'shortTime' }}</pre>
				<timepicker
					ng-model="mytime"
					ng-change="changed()"
					hour-step="hstep"
					minute-step="mstep"
					show-meridian="ismeridian"></timepicker>
			</div>
		</div>
		</tab> </tabset> </tab> 

			<tab heading="properties to be plotted">
			   <accordion>
			   <div ng-class = "{'custom':propertiesBoolean.startTime}">
			   <accordion-group is-open ="propertiesBoolean.startTime">
			      <accordion-heading >
			      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.startTime, 'glyphicon-check': propertiesBoolean.startTime}"
						ng-style="{color : 'black'}">&nbsp;</a><span style="text-decoration: underline;">start</span> time of data </accordion-heading>
			      <div class = "col-md-2">
			      <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">timeframe</button>
			      <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">clustering</button>
			      </div>
			      <div class = "col-md-10">
			      	<div collapse="isCollapsed">
			      	<div>
			      		<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="noFrame">
								no time frame
							</input>
						</label>
					</div>
			      	<div>
			      		<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="daily">
								dayly
							</input>
						</label>
					</div>
					<div>
						<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="weekly">
								weekly
							</input>
						</label>
					</div>
					</div>
					<div collapse="!isCollapsed">
						<div>
					         <label>
						         <input
						            type="radio"
						            ng-model="chosenOptions.cluster.algo"
						            value="noClustering">
						         	no clustering
					         </label>
					        </div>
			      			<div>
			         			<label>
							         <input
							            type="radio"
							            ng-model="chosenOptions.cluster.algo"
							            value="kmeans">
							         	k means Algo
							    </label>
							         <input
							            type="number"
							            min="1"
							            step="1"
							            ng-model="chosenOptions.cluster.numberOfClusters">
							</div>
					</div>
					</div>
			   </accordion-group>
			   </div>
			   <div ng-class = "{'custom':propertiesBoolean.regression}">
			   <accordion-group is-open ="propertiesBoolean.regression">
			      <accordion-heading >
				      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.regression, 'glyphicon-check': propertiesBoolean.regression}"
						ng-style="{color : 'black'}"></a>&nbsp;
				      <span style="text-decoration: underline;">chronological development of the duration</span> of data 
			      </accordion-heading>
			      <div clas = "row">
			      <div class = "col-lg-5 col-md-5 col-sm-5">
					<div>
					   <label class="checkbox"> <input ng-model="chosenOptions.showScatter"
					       type="checkbox"> show scatter plot
					   </label>
					</div>
					<div>
					   <label class="checkbox"> <input ng-model="chosenOptions.showSplines"
					       type="checkbox" /> show splines
					   </label>
					</div>
					<div>
					   <label class="checkbox"> <input
					      ng-model="chosenOptions.showRegression" type="checkbox" />
					   draw regression
					   </label>
					</div>
				</div>
				</div>
			   </accordion-group>
			   </div>
			   <div ng-class = "{'custom':propertiesBoolean.distribution}">
			   <accordion-group is-open ="propertiesBoolean.distribution">
			      <accordion-heading >
			      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.distribution, 'glyphicon-check': propertiesBoolean.distribution}"
						ng-style="{color : 'black'}"></a>&nbsp;<span style="text-decoration: underline;">distribution of the duration</span> of data </accordion-heading>
					<h6>
					adjust number of bins
					</h6>
					<input type="number" min="1" step="1"
					   ng-model="chosenOptions.numberOfBins" ng-change="">
			   </accordion-group>
			   </div>
			   </accordion>
			</tab>

 </tabset>
	</div>
</div>
<div>
	<button
		class="btn btn-primary"
		ng-click="apply()">Apply changes</button>
		<button
		class="btn btn-primary"
		ng-click="update()">update</button>
</div>
