<style>
#circle {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
div.custom .panel-default>.panel-heading {
    background-color: #08C;
        color: white;
}

.chosen{
		background-color: #08C;
        color: white;
}
</style>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<tabset justified="true"> <tab heading="data">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<menu></menu>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div ng-show="selected.length">
					<div class="well">
						<div ng-repeat="item in selected">
							<div style="border: 2px solid black">
								<!-- 								ng-show also depends on item.wholeProcess since even if we dont give it a color it would move the "process" in the list -->
								<div
									id="circle"
									class="pull-left"
									ng-style="item.color"></div>
								<strong>{{item.process}}</strong> <i
									class="pull-right glyphicon glyphicon-ok"
									ng-show="item.wholeProcess"></i>
								<div
									ng-repeat="types in item.activityTypes"
									style="text-indent: 10px; font-style: italic;">
									{{types.activityType}} <a
										class="pull-right glyphicon glyphicon-remove"
										ng-click="removeFromList(item.process,types.activityType,undefined)"></a>
									<div
										ng-repeat="act in types.activities"
										style="text-indent: 20px;">
										<div
											id="circle"
											class="pull-left"
											ng-style="act.color"></div>
										{{act.activity}} <a
											class="pull-right glyphicon glyphicon-remove"
											ng-click="removeFromList(item.process,types.activityType,act.activity)"></a>
									</div>
								</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		</tab> <tab heading="time-window"> <tabset class="tabs-left"> <tab heading="date">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<h4>specify start date</h4>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value=""
						ng-change="changeRequestToDataBase()">
					all
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value="startedBefore"
						ng-change="changeRequestToDataBase()">
					started before
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.start"
						value="startedAfter"
						ng-change="changeRequestToDataBase()">
					started after
				</div>
				<div collapse="chosenOptions.timeWindow.start==''">
					<div class="alert alert-info">{{chosenOptions.timeWindow.startDate | date: 'longDate'}}</div>
					<datepicker
						show-weeks="true"
						class="well well-sm"
						ng-model="chosenOptions.timeWindow.startDate"
						ng-change="changeRequestToDataBase()"></datepicker>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5">
				<h4>specify end date</h4>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value=""
						ng-change="changeRequestToDataBase()">
					all
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value="finishedBefore"
						ng-change="changeRequestToDataBase()">
					finished before
				</div>
				<div>
					<input
						type="radio"
						ng-model="chosenOptions.timeWindow.end"
						value="finishedAfter"
						ng-change="changeRequestToDataBase()">
					finished after
				</div>
				<div collapse="chosenOptions.timeWindow.end==''">
					<div class="alert alert-info">{{chosenOptions.timeWindow.endDate | date: 'longDate'}}</div>
					<datepicker
						show-weeks="true"
						class="well well-sm"
						ng-model="chosenOptions.timeWindow.endDate"
						ng-change="changeRequestToDataBase()"></datepicker>
				</div>
			</div>
		</div>
		</tab> <tab heading="time">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5">
				<pre class="alert alert-info">From: {{mytime | date:'shortTime' }}</pre>
				<timepicker
					ng-model="mytime"
					ng-change="changed()"
					hour-step="hstep"
					minute-step="mstep"
					show-meridian="ismeridian"></timepicker>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5">
				<pre class="alert alert-info">To: {{mytime | date:'shortTime' }}</pre>
				<timepicker
					ng-model="mytime"
					ng-change="changed()"
					hour-step="hstep"
					minute-step="mstep"
					show-meridian="ismeridian"></timepicker>
			</div>
		</div>
		</tab> </tabset> </tab> 

			<tab heading="properties to be plotted">
			   <accordion>
			   <div ng-class = "{'custom':propertiesBoolean.startTime}">
			   <accordion-group is-open ="propertiesBoolean.startTime">
			      <accordion-heading >
			      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.startTime, 'glyphicon-check': propertiesBoolean.startTime}"
						ng-style="{color : 'black'}"></a>&nbsp;<span style="text-decoration: underline;">start</span> time of data </accordion-heading>
					<div class = "row"><a class="pull-right glyphicon glyphicon-question-sign" ng-click="info.startTimeInfo=!info.startTimeInfo"></a></div>
			      <div class = "col-md-2">
				      <div class = "btn-group-vertical">
					      <button class="btn btn-default" ng-style="!showClustering&&{'background-color': '#08C','color': 'white'}" ng-click="showClustering = !showClustering">timeframe</button>
					      <button class="btn btn-default" ng-style="showClustering&&{'background-color': '#08C','color': 'white'}" ng-click="showClustering = !showClustering">clustering</button>
				      </div>
			      </div>
			      <div class = "col-md-10">
			      	<div collapse="showClustering">
			      	<div>
			      		<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="noFrame">
								no time frame
							</input>
						</label>
					</div>
			      	<div>
			      		<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="daily">
								dayly
							</input>
						</label>
					</div>
					<div>
						<label>
							<input
									type="radio"
									ng-model="chosenOptions.timeFrame"
									value="weekly">
								weekly
							</input>
						</label>
					</div>
					</div>
					<div collapse="!showClustering">
						<div>
					         <label>
						         <input
						            type="radio"
						            ng-model="chosenOptions.cluster.algo"
						            value="noClustering">
						         	no clustering
					         </label>
					        </div>
			      			<div>
			         			<label>
							         <input
							            type="radio"
							            ng-model="chosenOptions.cluster.algo"
							            value="kmeans">
							         	k means Algo
							    </label>
							         <input
							            type="number"
							            min="1"
							            step="1"
							            ng-model="chosenOptions.cluster.numberOfClusters">
							</div>
					</div>
					</div>
					<div ng-show=info.startTimeInfo>
					 <br>
					 <br>
						<dl class="dl-horizontal">
							<h3>Plot</h3>
	  						<dt>What can i plot here?</dt>
	  						<dd>The start times of the processes/activites on a weekly scale or a daily scale</dd>
	  						<dt>Purpose</dt>
	  						<dd>To asses the times where more or fewer processes are started either in relation to a week or a day</dd>
	  						<dt>What's on the x axis?</dt>
	  						<dd>The start time of the processes depending on the chosen timeframe this will be a time containing a week day and a time
	  						or just a time. <mark>When a weekly timeframe is chosen only the week day and the time of the starting time of a process will be
	  						plotted. Thus e.g. a process having started last week Tuesday 13:30 and a process having started this Tuesday 13:40 would be right
	  						next to each other in the plot. Meaning the rest of information of the starting time of a process outside the chosen timeframe 
	  						will be ignored.</mark>
	  						This is done to observe patterns in the chosen timeframe. e.g. a pizza service could find out that most of its processes usually start
	  						at Sunday evening</dd>
	  						<dt>What's on the y axis?</dt>
	  						<dd>All the processes/activities belonging to the same key will be plotted at the same y value</dd>
	  						<h3>Options</h3>
	  						<dt>timeframe</dt>
	  						<dd>...</dd>
	  						<dt>clustering</dt>
	  						<dd>To get a better impression over the data a clustering algorith can be used....</dd>
						</dl>
					</div> 
			   </accordion-group>
			   </div>
			   <div ng-class = "{'custom':propertiesBoolean.regression}">
			   <accordion-group is-open ="propertiesBoolean.regression">
			      <accordion-heading >
				      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.regression, 'glyphicon-check': propertiesBoolean.regression}"
						ng-style="{color : 'black'}"></a>&nbsp;
				      <span style="text-decoration: underline;">time series of duration</span> of data 
			      </accordion-heading>
			      <div class = "row"><a class="pull-right glyphicon glyphicon-question-sign" ng-click="info.regressionInfo=!info.regressionInfo"></a></div>
			      <div clas = "row">
			      <!-- need this div so that the checkboxes stay away from the side -->
			      <div class = "col-lg-12 col-md-12 col-sm-5">
					<div>
					   <label class="checkbox"> <input ng-model="chosenOptions.showScatter"
					       type="checkbox"> show scatter plot
					   </label>
					</div>
					<div>
					   <label class="checkbox"> <input ng-model="chosenOptions.showSplines"
					       type="checkbox" /> show splines
					   </label>
					</div>
					<div>
					   <label class="checkbox"> <input
					      ng-model="chosenOptions.showRegression" type="checkbox" />
					   draw regression
					   </label>
					</div>
					<div ng-show=info.regressionInfo>
					 <br>
					 <br>
						<dl class="dl-horizontal">
							<h3>Plot</h3>
	  						<dt>What can i plot here?</dt>
	  						<dd>The time series of the durations of the chosen processes/activites</dd>
	  						<dt>Purpose</dt>
	  						<dd>To assess the change over time of duration</dd>
	  						<dt>What's on the x axis?</dt>
	  						<dd>The start time of the processes.</dd>
	  						<dt>What's on the y axis?</dt>
	  						<dd>The duration of the process started at the x axis time value</dd>
	  						<h3>Options</h3>
	  						<dt>show scatter plot</dt>
	  						<dd>The processes are displayed as circles</dd>
	  						<dt>show splines</dt>
	  						<dd>Linearly interpolates the discrete data to get a continuous plot</dd>
	  						<dt>draw regression</dt>
	  						<dd>Shows a linear regression line to observe a trend in the time series. <mark>This makes only sense if there really 
	  						is a linear trend!</mark></dd>
						</dl>
					</div> 
				</div>
					</div>
			   </accordion-group>
			   </div>
			   <div ng-class = "{'custom':propertiesBoolean.distribution}">
			   <accordion-group is-open ="propertiesBoolean.distribution">
			      <accordion-heading >
			      <a
						class="pull-left glyphicon"
						ng-class="{'glyphicon-unchecked': !propertiesBoolean.distribution, 'glyphicon-check': propertiesBoolean.distribution}"
						ng-style="{color : 'black'}"></a>&nbsp;<span style="text-decoration: underline;">distribution of the duration</span> of data </accordion-heading>
					<div class = "row"><a class="pull-right glyphicon glyphicon-question-sign" ng-click="info.distributionInfo=!info.distributionInfo"></a></div>
					<h4>
					adjust number of bins
					</h4>
					<input type="number" min="1" step="1"
					   ng-model="chosenOptions.numberOfBins">
					 <div ng-show=info.distributionInfo>
					 <br>
					 <br>
						<dl class="dl-horizontal">
							<h3>Plot</h3>
	  						<dt>What can i plot here?</dt>
	  						<dd>The durations of the chosen processes/activites</dd>
	  						<dt>Purpose</dt>
	  						<dd>To roughly assess the probability distribution of the durations 
	  						by depicting the frequencies of observations occurring in certain ranges of values</dd>
	  						<dt>What's on the x axis?</dt>
	  						<dd>The boundery of the ranges of values (bins) in percent of the range from the minimal duration to the maximal duration</dd>
	  						<dt>What's on the y axis?</dt>
	  						<dd>The absolut frequencies of the durations observed in the bins</dd>
	  						<h3>Options</h3>
	  						<dt>number of bins</dt>
	  						<dd>Changing the number of bins affects the width of the range of the bins. Choosing more bins results in smaller bins 
	  						and thus a higher accuracy</dd>
						</dl>
					</div>
			   </accordion-group>
			   </div>
			   </accordion>
			</tab>

 </tabset>
	</div>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div>
	<button
		class="btn btn-primary"
		ng-click="applyChanges()">Apply changes</button>
</div>
