<script type="text/ng-template" id="processDefinitionDetailsModal.html">
        <div class="modal-header">
          <h3 class="modal-title">Details on process definition {{processDefinitionKey}}</h3>
        </div>
        <div class="modal-body" ng-init="init()">
          <div class="row">
            <div class="col-lg-6">
              <nvd3new options="processdefinitionDetailsChartOptions" data="processDefinitionDetailsPlotData"></nvd3new>
            </div>
            <div class="col-lg-6">
              <accordion close-others="oneAtATime">
                <accordion-group heading="{{versionDetails.name}} ({{versionDetails.overall}} instances in total)" ng-repeat="versionDetails in versionsDetails">
                  <tabset>
                    <tab disabled="versionDetails.running==0" heading="Running ({{versionDetails.running}})">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>name</td>
                            <th>total</td>
                            <th>assigned</td>
                            <th>unassigned</td>                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="runningDetail in versionDetails.runningDetails">
                            <td>{{runningDetail.name}}</td><td>{{runningDetail.size}}</td><td>{{runningDetail.children[0].size ? runningDetail.children[0].size : 0}}</td><td>{{runningDetail.children[1].size ? runningDetail.children[1].size : 0}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab disabled="versionDetails.finished==0" heading="Finished ({{versionDetails.finished}})">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>name</td>
                            <th>total</td>
                            <th>stats&nbsp;(dd:hh:MM:ss.mmm)</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="finishedDetail in versionDetails.finishedDetails">
                            <td>{{finishedDetail.name}}<br/>(<i>{{finishedDetail.actType}}</i>)</td><td>{{finishedDetail.size}}</td>
                            <td>
                            <table>
                              <tr><td><b>avg</b> {{finishedDetail.avg | formatTime}}</td></tr>
                              <tr><td><b>min</b> {{finishedDetail.min | formatTime}}</td></tr>
                              <tr><td><b>max</b> {{finishedDetail.max | formatTime}}</td></tr>
                            </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab disabled="versionDetails.withIncidents==0" heading="With incidents ({{versionDetails.withIncidents}})">
                    </tab>
                  </tabset>
                </accordion-group>
              </accordion>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>