<style>
	#output {background: #e5e5e5; padding:10px; margin-top:5px}
	#outTab {width:100%;}
	#outTab tr {height: 40px}
	#outTab th {}
	#outTab td {}
	#outTab td:first-of-type {width:136px;}
	#outTab td, th {padding: 5px;}

	.selected {fill: #7BCEFF;}
	.white {fill: white;}

	#howTo {}
	#howTo li {padding: 5px;}
	#infoTable tr {height:20px}
    .bold {font-weight: bold;}

/*

	.selectedKpiElementBlack2White{

      background: black;
      background: -webkit-linear-gradient(left, black 0% , white 20%);
      background: -o-linear-gradient(right, black 0%, white 20%);
      background: -moz-linear-gradient(right, black 20%, white 20%);
      background: linear-gradient(to right, black 0% , white 20%); 
      opacity: 0.3;
      border-radius: 13px;
	}
	
	.selectedKpiElementWhite2Black{ lieber rot

      background: white;
      background: -webkit-linear-gradient(left, white 0% , black 20%);
      background: -o-linear-gradient(right, white 0%, black 20%);
      background: -moz-linear-gradient(right, white 0%, black 20%);
      background: linear-gradient(to right, white 0% , black 20%); 
      opacity: 0.3;
      border-radius: 13px;
	}

*/
	
</style>