<script type="text/ng-template" id="kpiSettings.html">

<style>
	#output {background: #e5e5e5; padding:10px; margin-top:5px}
	#outTab {width:100%;}
	#outTab tr {height: 40px}
	#outTab th {}
	#outTab td {}
	#outTab td:first-of-type {width:136px;}
	#outTab td, th {padding: 5px;}

	#bad {fill: #7BCEFF;}
	#white {fill: white;}

	#howTo {}
	#howTo li {padding: 5px;}
	#infoTable th {padding:0}
    .bold {font-weight: bold;}

/*

	.selectedKpiElementBlack2White{

      background: black;
      background: -webkit-linear-gradient(left, black 0% , white 20%);
      background: -o-linear-gradient(right, black 0%, white 20%);
      background: -moz-linear-gradient(right, black 20%, white 20%);
      background: linear-gradient(to right, black 0% , white 20%); 
      opacity: 0.3;
      border-radius: 13px;
	}
	
	.selectedKpiElementWhite2Black{ lieber rot

      background: white;
      background: -webkit-linear-gradient(left, white 0% , black 20%);
      background: -o-linear-gradient(right, white 0%, black 20%);
      background: -moz-linear-gradient(right, white 0%, black 20%);
      background: linear-gradient(to right, white 0% , black 20%); 
      opacity: 0.3;
      border-radius: 13px;
	}

*/
	
</style>


<div class="modal-header" id="modalHeader">
	<h3 class="modal-title">KPI Selector</h3>
</div>
<div class="modal-body">
	<tabset>
		<tab heading="Average duration between two Elements" active="$parent.durationTab">

<b style="font-size: 12pt">Select the start and end element from process definiton</b>
<div ng-show="infoUp" style="margin-top: 5px;">
					<ul>
					<li>
						It is necessary to know the difference between inclusive and exclusive, because Camunda needs to know,
						which selected element you like to include in your calculation.
						<br><br>
						<strong>Inclusive</strong><br>
						If you like to take account of an activity, don't select the box next to it. <br>
						<strong>Exclusive</strong><br>
						If you don't like to take account of an activity, then select the box next to it. <br><br>

						Are both boxes unchecked, they are inclusive and will be included in your calculation.
					</li>
					</ul>
						<table id="infoTable">
							<tr><th>Start Element</th><th>End Element</th><th>End Element - Start Element</th></tr>
							<tr><td>Exclusive</td><td>Inclusive</td><td>End Datetime - End Datetime</td></tr>
							<tr><td>Exclusive</td><td>Exclusive</td><td>Start Datetime - End Datetime</td></tr>
							<tr><td>Inclusive</td><td>Exclusive</td><td>Start Datetime - Start Datetime</td></tr>
							<tr><td>Inclusive</td><td>Inclusive</td><td>End Datetime - Start Datetime</td></tr>
						</table>
				
			
			</div>

			
			<table id="outTab">
				<tr>
					<th></th>
					<th></th>
					<th><div><a style="margin-top: 3px; margin-left: 5px;" class="pull-right glyphicon glyphicon-question-sign" ng-click="infoUp=!infoUp"></a><b class="pull-right">Exclusive</b></div></th>
				</tr>
				<tr>
					<td><b>Start Element (&empty;): </b></td>
					<td>{{el[0].name}}</td>
					<td><input type="checkbox" ng-model="checkboxModel.exclusive_start" id="exclusive_start" value="exclusive_start" class="pull-right"/></td>
				</tr>
				<tr>
					<td><b>End Element &nbsp;(&empty;): </b></td>
					<td>{{el[1].name}}</td>
					<td><input type="checkbox" ng-model="checkboxModel.exclusive_end" id="exclusive_end" value="exclusive_end" class="pull-right"/></td>
				</tr>
				<hr>
			</table>
			<hr>
			<b>Duration (&empty;) between:</b>
			
			<div id="output">
			<div><a class="pull-left glyphicon glyphicon-question-sign" ng-click="infoBottom=!infoBottom"></a></div>
				<span style='text-align: right; display: block;height:16px;'><div class="text-danger bold" ng-show="isDataMissing">Failure: Please select only elements within the same path.</div><p ng-show="showDurationResult"> {{erg}} (dd:hh:mm:ss)</p></span>
			</div>
	
			<div ng-show="infoBottom" style="margin-top: 5px;">
				
			

Camunda calculates the average duration by accumulating all equivalent Datetimes of their instances of 
each selected Activity. 
<br><br>
It depends on which Mode you have selected (see top level, Inclusive/Exlusive).
After that, each of these two Date sums will divide by their quantity to get the average Datetime. 
<br><br>
Now, Camunda can substract them eachother to get the final Result.It is important in which order you select your activities. The KPI-Extension will subtract the start date time of the end date time. If you switch them, you will get a wrong result.
<br><br>
The Result predicates the time interval between your selected activities.


                 
				<hr>
			</div>
		</tab>
		<tab heading="Flow Control" active="$parent.flowTab" style="display:none">
			<table id="outTab">
				<tr>
					<th>&Uuml;berschrift 2</th>
				</tr>
				<tr>
					<td>Inhalt 2</td>
				</tr>
			<hr>
			</table>
			<hr>

		</tab>
	</tabset>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<button class="pull-left btn btn-warning" ng-click="calculate()">Calculate</button>
	<button class="pull-left btn btn-warning" ng-click="reset()">Reset</button>
</div>
</script>