<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/styles/overlayMenuStyles.html'"></div>

<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/processDiagramSettingsModal.html'"></div>
<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/variableStatusModal.html'"></div>

<a class="btn btn-default btn-toolbar" type="button" ng-click="toggleMenu()" tooltip-placement="left" tooltip="Control Menu for Process Diagram">
	<span class="glyphicon glyphicon-eye-open"></span>
</a>

<a class="btn btn-default btn-toolbar" type="button" ng-click="toggleVariableStatusModal()" tooltip-placement="left" tooltip="Status of variables of ended process instances">
	<span class="glyphicon glyphicon-info-sign"></span>
</a>