<div
	ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/styles/navigatorStyles.html'"></div>
<div
	ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/styles/processDiagramStyles.html'"></div>
<div
	ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/styles/sliderStyles.html'"></div>

<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/activityHistoryModal.html'"></div>
<div ng-include="'./../../../api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/noHistoryModal.html'"></div>
<div ng-include="'/camunda/api/cockpit/plugin/statistics-plugin/static/app/process-diagram-overlay/templates/loadingModal.html'"></div>
<div>
	<div ng-show="highlight()" ng-click="showActivityHistoryInformation()">
		<div class="badge badge-bottom badge-bad"
			ng-hide="instancesExceededLimit == null">{{
			instancesExceededLimit }}</div>
		<div class="badge badge-top badge-good"
			ng-hide="showOnlyBad() || instancesMetLimit == null">{{
			instancesMetLimit }}</div>
	</div>
	<a class="badge badge-bottom-middle" type="button"
		ng-show="showTaskHistory()" ng-click="showActivityHistoryInformation()">
		<span class="glyphicon glyphicon-stats"></span>
	</a>
	<a class="badge badge-event" type="button"
		ng-show="showEventHistory()" ng-click="showActivityHistoryInformation()">
		<span class="glyphicon glyphicon-stats"></span>
	</a>
</div>
