<!-- common style for process definition sidebar menu -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/processDefinitionMenuStyles.html'"></ng-include>

<!-- Component: highlighting -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/highlighting/highlightingProcessDefinitionMenuView.html'"></ng-include>

<!-- Component: duration -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/duration/durationProcessDefinitionMenuView.html'"></ng-include>

<!-- Component: business data statistics -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/business-data-statistics/businessDataStatisticsProcessDefinitionMenuView.html'"></ng-include>
