<!-- common style for process definition diagram -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/processDefinitionDiagramStyles.html'"></ng-include>
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/shared/assets/css/pluginStyles.html'"></ng-include>

<!-- Component: highlighting -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/highlighting/highlightingProcessDefinitionDiagramView.html'"></ng-include>

<!-- Component: activity history -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/activity-history/activityHistoryProcessDefinitionDiagramView.html'"></ng-include>

<!-- Component: duration -->
<ng-include src="'./../../../api/cockpit/plugin/statistics-plugin/static/app/components/process-definition/duration/durationProcessDefinitionDiagramView.html'"></ng-include>