<style>

ul {
    list-style:none;
    padding-left:0;
}

.draggable {
	cursor: n-resize;
}

table {
    border-collapse: collapse;
}
td {
    padding: 10;
}

td.left {
	padding-left: 50px;
	vertical-align: top;
}

td.center {
	padding-left: 100px;
}

hr {
	color: #E5E5E5;
	background-color: #E5E5E5;
	height: 1px;
	margin-left: -15px;
	margin-right: -15px;
}


.userTask {
	fill: rgba(129,248,76, 0.4) !important;
}

.serviceTask {
	fill: rgba(109,0,82, 0.4) !important;
}

.scriptTask {
	fill: rgba(13,193,220, 0.4) !important;
}

.humanTask {
	fill: rgba(255,154,47, 0.4) !important;
}

.receiveTask {
	fill: rgba(26,68,0, 0.4) !important;
}

.sendTask {
	fill: rgba(244,184,178, 0.4) !important;
}

.manualTask {
	fill: rgba(216,174,249, 0.4) !important;
}

.exclusiveGateway {
	fill: rgba(231,248,42, 0.4) !important;
}

.inclusiveGateway {
	fill: rgba(194,235,211, 0.4) !important;
}

.parallelGateway {
	fill: rgba(195,34,85, 0.4) !important;
}

.eventBasedGateway {
	fill: rgba(68,141,226, 0.4) !important;
}

.subProcess {
	fill: rgba(31,115,128, 0.4) !important;
}

.callActivity {
	fill: rgba(160,125,24, 0.4) !important;
}

.transaction {
	fill: rgba(28,35,13, 0.4) !important;
}

.event {
	fill: rgba(36,199,78, 0.4) !important;
}

.good {
	fill: rgba(70, 136, 71, 0.4) !important;
}

.bad {
	fill: rgba(181, 21, 43, 0.4) !important;
}

.white {
	fill: rgb(255,255,255) !important;
}

.blue {
	fill: #7BCEFF !important;
}

[process-diagram] .badge-top {
	position: absolute;
	right: -10px;
	top: -10px;
}

[process-diagram] .badge-bottom {
	position: absolute;
	right: -10px;
	bottom: -10px;
}

[process-diagram] .badge-bottom-middle {
	position: absolute;
	left: 35px;
	bottom: -10px;
	color: rgb(255,255,255);
	border-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
}

[process-diagram] .badge-event {
	position: absolute;
	left: 4px;
	bottom: -5px;
	color: rgb(255,255,255);
	border-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
	height: 10px;
	width: 20px;
	font-size: 5pt;
	padding-top: 0em;
	padding-left: 0.8em;
}

[process-diagram] .badge-good {
	color: rgb(255,255,255);
	border-color: rgb(0, 0, 0);
	background-color: rgb(70, 136, 71);
}

[process-diagram] .badge-bad {
	color: rgb(255,255,255);
	border-color: rgb(0, 0, 0);
	background-color: rgb(181, 21, 43);
}

</style>