# rename this file to 'testdbs.properties' and modify it to match your system

# mysql connection credentials
mysql.username=user
mysql.password=password
mysql.servername=localhost
mysql.port=50000
mysql.db=camunda

# db2 connection credentials
db2.username=user
db2.password=password
db2.servername=localhost
db2.port=50000
db2.db=camunda


# h2 connection credentials
h2.username=sa
h2.password=sa
h2.url=jdbc:h2:mem:camunda;DB_CLOSE_DELAY=1000

# mssql connection credentials
mssql.username=sa
mssql.password=sa
mssql.server=localhost
mssql.database=camunda
mssql.selectMethod=cursor

